@model DetailsVM

@{
    ViewBag.Title = "Engberg Movie Library - Movie Details";
}

<h2>@Model.Title (@Model.ReleaseDate.Year)</h2>
<p>@Model.MovieCategory</p>
<p>@Model.Description</p>
<a asp-controller="Movies" asp-action="Edit" asp-route-id="@Model.Id">
    <input type="button" value="Edit" class="btn btn__primary" />
</a>